
.gotcha_covered {
  display: none;
}

/* for the list of intercepted emails */
.gotcha_list {
  font-size: 85%;
}

.gotcha_list .even {
  background: #f0f0ff;
}

#spam_alert {
  text-align: center;
  font-size: 175%;
  line-height: 250%;
}

#spam_alert h1 {
  color: red;
  font-size: 200%;
}

#gotcha_help {
  border: 1px outset #994444;
  width: 90%;
  background-color: #f0f0f0;
  font-style: italic;
}

.gotcha_previous_spam {
  color: #ff0000;
  font-weight: bold;
  font-style: italic;
}
