<h1>Gotcha</h1>
<p>Gotcha is sort of a take off on "captcha."  The idea was first mentioned on <a href="http://drupal.org/node/166921">http://drupal.org/node/166921</a> as a possible way to trick spam bots who try to use the Drupal contact form. I don't particulary like the extra step humans are required to perform in these "verification" methods, and some just don't work.</p>
<p>The idea is simple: Basically you place a bogus input field on a contact form, and use CSS to not display it. On submission you check for a value. If there is a value entered, then that means a non-human has been blanketing form fields, and the form post can be ignored as spam. The spam bot will probably never know.</p>
<p>Gotcha adds a field labeled "Subject" at the top of the contact form. It uses a "div" tag to render the field as "display: none" so human users shouldn't see it, and won't enter any data there. Hopefully, the suspected spam bot will see "Subject" and be enticed to enter something there. There is descriptive text to encourage a human (whose browser might be set to display it anyway) to ignore this field.</p>
<p>Gotcha intercepts the contact form submission and checks the hidden field.  If something is there, Gotcha simply returns to the front page and ignores the message.  The attempt is logged, along with the submitter's IP address, and the suspect message is saved in the database.  If the field is empty, then the message is passed on through to the contact module for normal processing.</p>
<p>Unfortunately, most of the spam was still getting through. And most of that was a bunch of links to drugs or porn. From exerience, I knew that the <a href="http://drupal.org/project/spam">Spam</a> module was already good at dealing with this in comments. After browsing that module, I found that I could "hook" into its filters and use them to identify spam.</p>
<p><b>All of my spam emails stopped immediately!</b></p>

<h2>Required Modules</h2>
<p>The Gotcha module requires the core Contact module and the contributed <a href="http://drupal.org/project/spam">Spam</a> module (which you can also use to limit comment spamming).</p>

<h2>Installation</h2>
<p>Normal module installation procedures.</p>

<h2>Settings</h2>
<p>All of the settings for Gotcha are found in the Administer &raquo; Site building &raquo; Contact form, under the "Settings" tab.</p>
<ul>
<li><b>Log all email</b> - If this box is checked, all site-wide Contact email will be logged in the Gotcha table. If it is not checked, only suspect emails will be logged.</li>
<li><b>"Go Away" page:</b> - This is the path to the page to be displayed when the message has been identified as spam. That message should be tactful, but forceful. When the module is enabled, it checks to see if there is a page that is titled "Gotcha: Go Away!". If is present, that node's id will be set here. If is not found, the module will create a sample page and set the new page's path here. <b>Note</b>: It is not necessary for this pageto be in "published" status as it will be displayed anyway.</li>
<li><b>Maximum body</b> - The maximum size of the message's body to show in the logging list. This limits the size of the displayed list.</li>
<li><b>Rows per Page</b> - The number of rows to show per page in the logging list.</li>
<li><b>Show Site Name</b> - If selected, the site's name will show in the logging list. This is useful in a multisite environment with a shared "gotcha" log.</li>
</ul>

<h2>Menu Items</h2>
<p><b>Administer &raquo; Logs &raquo; Gotcha list</b> - shows all the emails that have been logged. It has a delete link to allow you to clean up the table.</p>

<h2>CSS</h2>
<p>The module does implement a basic style sheet. I recommend that you not change the "gotcha_covered" style. If you use CSS compression, you may have to disable and re-enable it for this module.</p>

<h2>The Future</h2>
<p>It is my intention to work with the author of the Spam module to integrate this functionality into that code. If, or when, that happens, I will de-commission this module shortly after that.</p>

<h2>To Do List</h2>
<ul>
<li>Build an IP address blacklist? Share with spam module?</li>
<li>Expire email log after some interval? spam_delete_contact?</li>
</ul>

